<div *ngIf="isLoading">
  Loading...
</div>
<div class="container-fluid">
  <div class="d-flex flex-row mb-3">
    <div *ngFor="let p of activeMatch?.players; let i = index" 
      class="p-2 mx-1 btn my-1 w-100" 
      [ngClass]="i < activeMatch?.players.length / 2 ? 'btn-outline-dark':'btn-outline-primary'" 
      (click)="selectPlayer(p)"
    >
      {{p.name}}
    </div>

  </div>
  <div class="d-flex flex-row mb-3"  *ngFor="let i of [1,0,-1]">
    <div class="p-2 mx-1 btn my-1 w-100" [ngClass]="i == 1 ? 'btn-success': (i==0 ? 'btn-warning' : 'btn-danger')" (click)="selectEvent(e)" *ngFor="let e of getEventsByBalance(i)" >
      {{e.name}}
    </div>
  </div>
  <div class="d-flex justify-content-between flex-nowrap mb-3">
    <button class="btn btn-secondary" (click)="undo()"><span class="material-icons">undo</span></button>
    <div class="d-flex justify-content-start flex-wrap list-group-horizontal" style="border:1px solid grey; width:100%">
      <li *ngIf="eventsInput != null" class="list-group-item list-group-item-dark">{{eventsInput?.player.name}}</li>
      <li  class="list-group-item" *ngFor="let e of eventsInput?.events">{{e.name}}</li>
    </div>
    <button class="btn btn-primary" (click)="saveRow()"><span class="material-icons">done</span></button>
  </div>
  <div class="d-flex flex-nowrap mb-3">
    <div class="flex-fill">
      <textarea class="form-control" placeholder="Comment" rows="4"></textarea>
    </div>
    <div class="d-flex flex-fill flex-column ml-3">
      <div class="btn-group" role="group">
        <button class="btn btn-sm data-bs-toggle shadow-none border-bottom-0" [ngClass]="selectedResultIdx===0 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=0">{{results[0]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none border-bottom-0 ml-4" [ngClass]="selectedResultIdx===1 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=1">{{results[1]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none border-bottom-0" [ngClass]="selectedResultIdx===2 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=2">{{results[2]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none border-bottom-0" [ngClass]="selectedResultIdx===3 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=3">{{results[3]}}</button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-sm data-bs-toggle shadow-none" [ngClass]="selectedResultIdx===4 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=4">{{results[4]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none ml-4" [ngClass]="selectedResultIdx===5 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=5">{{results[5]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none" [ngClass]="selectedResultIdx===6 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=6">{{results[6]}}</button>
        <button class="btn btn-sm data-bs-toggle shadow-none" [ngClass]="selectedResultIdx===7 ?'btn-primary': 'btn-outline-dark'" (click)="selectedResultIdx=7">{{results[7]}}</button>
      </div>
      <div class="btn-group mt-2" role="group">
        <button class="btn btn-sm btn-outline-dark" *ngFor="let v of possibleResultValues; let i = index"  
            (click)="setResult(v)">{{possibleResultValues[i]}}
          </button>
      </div>
    </div>
  </div>
  <div class="d-flex mb-3">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let e of eventsHistory.reverse()">{{e.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ngb-toast
	*ngIf="errorMsg != ''"
	header="Autohide can be cancelled"
	[delay]="2000"
	[autohide]="true"
	(mouseenter)="false"
	(mouseleave)="true"
	[class.bg-warning]="true"
  (hide) = "errorMsg=''"
>
	<div>{{errorMsg}}</div>
</ngb-toast>
