  <div class="modal-header">
    <h5>New Match</h5>
  </div>
  <div class="modal-body" style="height:60vh">
    <div class="row">
      <div class="col-auto">
        <p class="input-group">
          <label>Sport: &nbsp;</label>       
          <select class="form-control" [(ngModel)]="selectedSport">
            <option *ngFor="let s of sports" [ngValue]="s">{{s.name}}</option>
          </select>
        </p>
        {{selectedSport | json}}
      </div>
      <div class="col-auto">
        <p class="input-group">
          <label>Place: &nbsp;</label>
          <select class="form-control" [(ngModel)]="selectedPlace">
            <option *ngFor="let t of places" [ngValue]="t">{{t.name}}</option>
          </select>
        </p>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newPlayer" placeholder="Enter new player" />
          <button
          class="btn btn-outline-primary btn-sm "
          type="button"
          (click)="addPlayer()"><span class="material-icons">add</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Available
          </div>
          <div class="card-body" style="height:30vh; overflow-y:scroll">
            <table class="table table-sm">
              <tr
                style="cursor: pointer"
                *ngFor="let p of players"
                (click)="confirmPlayer(p)"
              >
                <td width="90%">{{ p.name }}</td>
                <td>
                  <button class="btn">
                    <span class="material-icons pull-right">arrow_right</span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card-header">
          Selected
        </div>
        <div class="card-body"  style="height:30vh; overflow-y:scroll">
          <table class="table-sm">
            <tr *ngFor="let p of matchPlayers; let i=index">
              <td width="90%">{{p.name}} </td>
              <td>
                <button class="btn" (click)="unconfirmPlayer(p)">
                  <span class="material-icons pull-right">cancel</span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" 
    class="btn btn-primary"
    (click)="btnConfirmNewMatchClick()">Empezar</button>
    
    <a href="/" type="button" 
    class="btn btn-secondary">
      Cancelar
  </a>
  </div>
