  <div style="position:relative">
    <video 
      id="video"
      style="width:100%;"
      (onresize)="resizeVideo()"
      #videoPlayer
      controls
      controlslist="nodownload nofullscreen noremoteplayback"
      (timeupdate)="timeUpdate($event)"
    >
      <source
        src="https://www.w3schools.com/html/mov_bbb.mp4"
        type="video/mp4"
      />
      Your browser does not support HTML video.
    </video>
    <canvas  style="border:1px solid red; position:absolute;" 
      #canvas 
      (mousemove)="draw($event)" 
      (mousedown)="setPosition($event)" 
      (mouseenter)="setPosition($event)"
      (mouseleave)="mouseLeave()" 
      >
    </canvas>

  </div>
  <div>

    <button class="btn btn-primary mx-1" (click)="load()"><span class="material-icons">movie</span></button>
    <button class="btn btn-secondary mx-1" (click)="rewind()"><span class="material-icons">fast_rewind</span></button>
    <select [(ngModel)]="timeToJump">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="30">30</option>
      <option [ngValue]="60">60</option>
    </select>
    <button class="btn btn-secondary mx-1" (click)="forward()"><span class="material-icons">fast_forward</span></button>
    <button class="btn mx-1" [ngClass]="isPlaying ? 'btn-dark': 'btn-success'" (click)="playPause()"><span class="material-icons">{{isPlaying ? 'stop': 'play_arrow'}}</span> </button>
  </div>

  {{bitmapPos | json}}
