
<div class="container">
  <div class="row">
      <div class="mr-auto ml-auto text-center">
        <h1>Sign In</h1>
        <p>
          <input class="form-control" type="email" placeholder="Email Address" [(ngModel)]="loginEmail" required autofocus>
        </p>
        <p>
          <input class="form-control" type="password" placeholder="Password" [(ngModel)]="loginPwd" required>
        </p>
        <button class="btn btn-primary btn-block" type="button" (click)="login()">Sign In</button>
      </div>
  </div>
</div>