
<div class="container">
    <div class="row">
        <div class="mr-auto ml-auto text-center">
          <h1>Set Password</h1>
          <p>
            <input class="form-control" type="password" placeholder="Email Address" [(ngModel)]="pwd1" required autofocus>
          </p>
          <p>
            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="pwd2" required>
          </p>
          <button class="btn btn-primary btn-block" type="button" (click)="setPwd()">Sign In</button>
        </div>
    </div>
</div>