<div class="container-fluid m-2">
  <div class="d-flex flex-row-reverse">
      {{supaService.getSession().user.email}}
  </div>
</div>
<div class="d-flex justify-content-center">

</div>

<div class="m-2" style="display:flex; width:100%">
  <div class="mr-1" style="resize: horizontal; overflow: auto;width:50%">
    <app-video (timeChanged)="videoTimeChanged($event)"></app-video>
  </div>
  <div class="ml-1" style="flex-grow: 1;">
    <app-players></app-players>
  </div>
</div>
<div class="m-2" style="display:flex; width:100%">
  <div class="mr-1" style="resize: horizontal; overflow: auto;width:50%">
    <app-court [orientation]="'H'"></app-court>
  </div>
</div>
