<div class="input-group">
  <h3>Settings</h3>
  <a href ="/" class="btn btn-outline-success btn-sm mx-1">
    <span class="material-icons pull-right">arrow_back</span>
  </a>
</div>

<div class="m-2" style="display:flex; width:100%">
  <div class="mr-1" style="resize: horizontal; overflow: auto;width:50%">

    <div class="input-group">
      <span class="input-group-text">Sports: </span>
      <button class="btn btn-outline-primary btn-sm mx-1" type="button" (click)="addSport()">
        <span class="material-icons">add</span>
      </button>
      <select class="form-select form-control ml-1"  [(ngModel)]="selectedSport">
        <option *ngFor="let s of sports" [ngValue]="s">{{s.name}}</option>
      </select>
      <button class="btn btn-outline-danger btn-sm mx-1" (click)="deleteSport()">
        <span class="material-icons pull-right">close</span>
      </button>
    </div>
  </div>
  <div class="ml-1" style="flex-grow: 1;">
    <div class="input-group">
      <span class="input-group-text">Places: </span>
      <button
        class="btn btn-outline-primary btn-sm mx-1" type="button" (click)="addPlace()"><span class="material-icons">add</span>
      </button>
      <select class="form-select form-control ml-1"  [(ngModel)]="selectedPlace">
        <option *ngFor="let s of places" [ngValue]="s">{{s.name}}</option>
      </select>
      <button 
        class="btn btn-outline-danger btn-sm mx-2" (click)="deletePlace()"><span class="material-icons pull-right">close</span>
      </button>
    </div>
  </div>
</div>

<div class="m-2" style="display:flex; width:100%">
  <div class="mr-1" style="resize: horizontal; overflow: auto;width:50%">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-text">Events: </span>
          <button
            class="btn btn-outline-primary btn-sm mx-1" type="button" (click)="addEvent()"><span class="material-icons">add</span>
          </button>
        </div>
        <div  style="height:50vh; overflow-y:scroll">
          <table class="table table-sm">
            <tr style="cursor: pointer" *ngFor="let e of selectedSport?.SportEvents; let i = index">

              <td width="95%">({{ e.balance == 1? "+": (e.balance == -1? "-" : 0) }}) {{ e.name }}</td>
              <td>
                <button class="btn btn-outline-danger btn-sm mx-4" (click)="deleteEvent(i)">
                  <span class="material-icons pull-right">close</span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-1" style="flex-grow: 1;">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-text">Players: </span>
          <input type="text" class="form-control mx-1" placeholder="new player..."  [(ngModel)]="newPlayer" />
          <button
          class="btn btn-outline-primary btn-sm "
          type="button"
          (click)="addPlayer()"><span class="material-icons">add</span>
          </button>
        </div>
        <div  style="height:50vh; overflow-y:scroll">
          <table class="table table-sm">
            <tr
              style="cursor: pointer"
              *ngFor="let p of players; let i = index"
            >
              <td width="95%">{{ p.name }}</td>
              <td>
                <button class="btn btn-outline-danger btn-sm mx-4" (click)="deletePlayer(i)">
                  <span class="material-icons pull-right">close</span>
                </button>
              </td>
            </tr>
          </table>
        </div> 
      </div>
    </div>
  </div>
</div>
